section {
    width: 100%;
    height: 500px;
    justify-items: center;
    align-content: center;
}

.box {
    width: 400px;
}

.corpo {
    display: grid;
    justify-content: center;
}

.corpo span:nth-child(1) {
    text-align: center;
    color: aliceblue;
    font-family: "Zilla Slab";
    font-size: 1.8rem;
    background-color: rgb(21, 45, 112);
    margin: auto;
    padding: .5rem 1rem ;
    letter-spacing: 2px;
}

.corpo span:nth-child(2) {
    text-align: center;
    font-size: 9rem;
    font-family: "arial";
    font-weight: 700;
    color: rgb(21, 45, 112);
}

.corpo span:nth-child(3) {
    color: rgb(21, 45, 112);
    font-family: "Zilla Slab";
    font-size: 1.2rem;
    font-weight: 500;
}

.corpo span:nth-child(4) {
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: aliceblue;
    background-color: rgb(21, 45, 112);
    font-family: "Zilla Slab";
}

.corpo p {
    text-align: center;
    font-size: 1.1rem;
}